.tarjeta-pokemon {
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
  display: inline-block;
  min-width: 150px;
  text-align: center;
}

.tarjeta-pokemon:hover {
  background-color: #eaeaea;
}

.nombre-pokemon {
  margin-top: 8px;
  font-weight: bold;
  color: #2b579a;
}